spring:
  application:
    name: file_extension_blocker
  datasource:
    url: jdbc:postgresql://localhost:55432/file_extension_blocker
    username: postgres_user
    password: postgres_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    open-in-view: false
---
spring:
  config:
    activate:
      on-profile: test
